.Button{
    width: 100px;
    height: 40px;
    color:  white;
    padding: 2px;
    border: 0.1px solid black;
}

.Button--number{
    font-weight: bold;
    background: black;
    border: 0.1px solid blue;
}

.Button--number:hover{
    background: blue;
}

.Button--operation{
    background: black;
    color: orange;
    border: 0.1px solid orange;
}

.Button--operation:hover{
    color: white;
    background: orange;
}

.Button--controller{
    font-weight: bold;
    background: black;
    border: 0.1px solid palevioletred;
    color: palevioletred;
}

.Button--controller:hover{
    color: white;
    background: palevioletred;
}