.Display{
    width: 100%;
    margin-top: 10%;
    background:black;
    border: 0.1px solid  rgb(66, 66, 66);
    box-sizing: border-box;
    text-align: right;
    padding: 1em;
    color: white;
}

.Display__top{
    font-size: 18px;
}

.Display__bottom{
    font-size: 28px;
    font-weight: bold;
}